body{
  // justify-content: center;
  // align-items: center;
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  max-width: 400px;
  margin: 5rem auto;
  background: rgba(24, 24, 24, 0.732);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: $shadow;
  img{
    width: 25%;
  }
  h1 {
    text-align: center;
    margin-bottom: 1.2rem;
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin-bottom: 1rem;
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: 100%;
    }

    button {
      padding: 0.75rem;
      // background-color: $primary-color;
      color: white;
      width: 100%;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.5s ease;
    &:hover{
    background-color: green;}
      // &:hover {
      //   background-color: darken($primary-color, 10%);
      // }
    }

    .error {
      margin-top: 1rem;
      color: red;
      font-size: 0.9rem;
    }
  }
    .register-link {
    text-align: center;
    margin-top: 1rem;

    a {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

p{
  color: white;
}
}

