@import './utils/variables';
@import './utils/mixins';
@import './pages/login';
@import './components/navbar';
@import './pages/nodosCentrales';
@import './pages/nodosSensores';
@import './pages/sensorHistory';

body {
  font-family: sans-serif;
  background: linear-gradient(270deg, #0d1b0d, #18311d, #254a25, #1b3921, #0d1b0d);
  background-size: 500% 500%;
  animation: gradientFlow 30s ease-in-out infinite alternate;
  color: $text-color;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

