#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 95vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;
  width: 80%;
  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.rounded {
  border-radius: 0.25rem;
}

a {
  font-weight: 500;
  color: #424242;
  text-decoration: none;
}
a:hover {
  color: #676767;
}

body {
  // margin: 0;
  display: flex;
  // place-items: center;
  // min-width: 320px;
  // min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
}


.container-sensor-discovery{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
    button {
    margin-top: 2rem;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 6px;
    width: 25%;
    // background-color: #ccc;
    color: #d9d9d9;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &:hover{
    background-color: green;
  }
  }
  .sensor-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin-right: auto;
    margin-top: 50px;

    .sensor-card{
      background-color: #1a1a1a;
      border-color: #d9d9d9;
      .confirm-button{
        background-color: rgb(16, 71, 16);
        padding: 10px;
        &:hover{
          filter: brightness(1.5);
        }
      }
      .sensor-image{
        opacity: 100%;
      }

      &:hover{
          filter: brightness(1.25);
        }
    }
  }

  
}
